<form class="add-form" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="title">Title</label>
    <input
      type="text"
      name="title"
      [(ngModel)]="title"
      id="title"
      placeholder="Title"
    />
  </div>
  <div class="form-control">
    <label for="body">Body</label>
    <textarea
      type="text"
      name="body"
      [(ngModel)]="body"
      id="body"
      placeholder="Body"
    >
    </textarea>
  </div>
  <input type="submit" value="Save post" class="btn" />
</form>
